$azul-petroleo: #142935;
$azul-petroleo-escuro: darken($azul-petroleo, 10%);
$laranja-queimado: #E65100;
$laranja-queimado-claro: lighten($laranja-queimado, 10%);
$branco: #FFFFFF;
$branco-suave: #F5F5F5;
$preto-fosco: #1C1C1C;
